body {
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  max-width: 100%;
}

header .logo img {
  width: 65%;
  margin: 20px 20px 20px 0;
}

header .tagline h2 {
  color: #8e8e8e;
  font-weight: 400;
  font-size: 20px;
  margin: 30px 0;
}

header .view-more {
  text-align: right;
}

header .view-more a {
  display: inline-block;
  color: #555;
  margin: 30px 0;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

header .view-more a .fa-chevron-right {
  color: #000;
  margin-left: 15px;
}

header .view-more a:hover,
header .view-more a:hover .fa-chevron-right {
  color: #9e0000;
}

#Carousel {
  position: relative;
  height: 500px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#Carousel .carousel-wrapper {
  position: absolute;
  padding-left: 0;
  width: 999999em;
  clear: both;
}

#Carousel .carousel-wrapper .book-item {
  width: 180px;
  float: left;
  margin: 0 10px;
}

#Carousel .carousel-wrapper .book-item a {
  text-decoration: none;
}

#Carousel .carousel-wrapper .book-item .image-wrapper {
  position: relative;
  height: 290px;
}

#Carousel .carousel-wrapper .book-item .image-wrapper img {
  position: absolute;
  bottom: 0;
}

#Carousel .carousel-wrapper .book-item a:hover h3,
#Carousel .carousel-wrapper .book-item a:hover p {
  color: #9e0000;
}

#Carousel .carousel-wrapper .book-item h3 {
  font-size: 18px;
  color: #333;
  margin: 10px 0 0 0;
}

#Carousel .carousel-wrapper .book-item p {
  font-size: 14px;
  color: #555;
  margin: 0 0 10px 0;
}

#Carousel .carousel-wrapper .book-item .amazon-buy {
  background-color: #FA6533;
  color: #fff;
  display: block;
  margin: auto;
  padding: 10px;
  width: 100px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
}

#Carousel .carousel-wrapper .book-item .amazon-buy:hover {
  background-color: #9e0000;
}
